<nav ngbNav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="[]">
      <img
        src="/assets/logo.webp"
        alt="logo"
        height="30"
        width="30"
        class="d-inline-block align-text-middle" />
      TypeFaster
    </a>
    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (link of links; track $index) {
          <li [ngbNavItem]="link.fragment">
            <a
              ngbNavLink
              [routerLinkActive]="'active'"
              [routerLink]="link.fragment"
              >{{ link.title }}</a
            >
          </li>
        }
      </ul>
      <div class="form-check form-switch">
        <input
          type="checkbox"
          class="form-check-input"
          role="switch"
          (change)="themeService.toggle()" />
        @if (themeService.theme == 'light') {
          <i class="bi bi-brightness-high-fill"></i>
        } @else {
          <i class="bi bi-moon-stars-fill icon-white"></i>
        }
      </div>
    </div>
  </div>
</nav>
