<nav ngbNav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fs-4 fst-italic" [routerLink]="[]">
      <img
        src="/assets/logo.webp"
        alt="logo"
        height="30"
        width="30"
        class="d-inline-block align-text-middle" />
      TypeFaster
    </a>
    <button
      (click)="isMenuCollapsed = !isMenuCollapsed"
      class="navbar-toggler"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (link of links; track $index) {
          <li [ngbNavItem]="link.fragment">
            <a
              ngbNavLink
              class="fs-5"
              [routerLinkActive]="'active'"
              [routerLink]="link.fragment">
              <i class="bi bi-{{ link.icon }}-fill"></i> {{ link.title }}
            </a>
          </li>
        }
      </ul>
      <div
        ngbDropdown
        placement="bottom-end"
        display="dynamic"
        class="d-inline-block">
        <button type="button" id="dark-mode" ngbDropdownToggle class="btn">
          @switch (ts.userTheme) {
            @case ('light') {
              <i class="bi bi-brightness-high-fill"></i>
            }
            @case ('dark') {
              <i class="bi bi-moon-stars-fill icon-white"></i>
            }
            @default {
              <i class="bi bi-laptop-fill"></i>
            }
          }
        </button>
        <div ngbDropdownMenu aria-labelledby="dark-mode">
          <button (click)="ts.activate('system')" ngbDropdownItem>
            <i class="bi bi-laptop-fill"> System</i>
          </button>
          <button (click)="ts.activate('light')" ngbDropdownItem>
            <i class="bi bi-brightness-high-fill"> Light</i>
          </button>
          <button (click)="ts.activate('dark')" ngbDropdownItem>
            <i class="bi bi-moon-stars-fill icon-white"> Dark</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
