<hr />
<form [formGroup]="form">
  <div class="form-floating">
    <select
      class="form control form-select form-select"
      formControlName="story"
      id="story">
      <option [value]="'numbers'">Practice typing numbers</option>
      @for (story of stories; track $index) {
        <option [value]="story.index">{{ story.title }}</option>
      }
    </select>
    <label for="story">Select your story</label>
  </div>
  <hr />
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            formControlName="case"
            id="case" />
          <label class="form-check-label" for="case">Case sensitive</label>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            formControlName="special"
            id="allowspecial" />
          <label class="form-check-label" for="allowspecial"
            >Allow special chars</label
          >
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            formControlName="randomise"
            id="randomise" />
          <label class="form-check-label" for="randomise"
            >Randomise word order</label
          >
        </div>
      </div>
    </div>
    <hr />
    <label class="form-label" for="time-range"
      >Chose your time - {{ form.value.time }} min</label
    >
    <input
      type="range"
      formControlName="time"
      class="form-range"
      min="1"
      max="5"
      step="1"
      id="time-range" />
    <hr />
    <div class="d-grid">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        [disabled]="form.invalid"
        (click)="configCompleted.emit(form.value)">
        Start
      </button>
    </div>
  </div>
</form>
