/* Chrome, Safari, Edge, Opera */
.force-text > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.force-text > input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
