@if (story) {
  <div class="col-12">
    <div class="text-center">
      <h4>{{ story.title }}</h4>
    </div>
    <hr />
    <ngb-carousel [interval]="5000" class="mx-auto">
      @for (image of story.images; track image) {
        <ng-template ngbSlide>
          <img
            [src]="image"
            class="d-block container-fluid p-0"
            alt="story-image" />
        </ng-template>
      }
    </ngb-carousel>
    <br />
    <strong>Prompt</strong>
    <p>
      {{ story.prompt }}
    </p>
    <strong>Story</strong>
    <p>
      {{ story.story }}
    </p>
  </div>
}
